<div class="masthead">
  <div class="logo banner center">
    <%= link_to root_path do %>
      <%= image_tag asset_path('banner.jpg'), alt: 'arc_conference_banner_light', :class => 'arc-banner' %>
    <% end %>
  </div>
</div>